p{
    color: green;
}
h1{
    color: white;
    text-align: center;
}
h2{
    font-style: oblique;
    color: yellowgreen;
    
}
body{
    
    background-color: pink;
}
img{
    position: -ms-page;
    border: yellow 5px dotted;
}
#favorite_band{
    background-color: purple;
    color:white;
    
}
#favorite_movie{
    background-color: aquamarine;
}
.important{
    color: red;
}
.favorite-section{
    border: 5px deeppink solid;
    margin: 5px;
}
#most-favorite-food{
    background-color: blue;
    color: pink;
}
table{
    text-align: left;
}
.big-image{
    height: 100px;
    width: 100px;
}
